* {
    margin: 0%;
    padding: 0%;
    border: 0px;
}

main {
    height: 100vh;
    position: relative;
    width: auto;
    background: linear-gradient(to left bottom, rgba(0,150,255), rgba(0,200,240));
}

header-box {
    display: flex;
    height: auto;
    
    padding: 1rem;

    align-items: center;
    justify-content: space-evenly;
}

.header {
    width: minmax(80px ,1fr);
    border-radius: 2rem;
    background: linear-gradient(to left bottom, rgba(238, 238, 238, 0.583), rgb(204, 204, 203, 0.8));
    padding: 1rem;
    margin: 10px;
}

.header h1{
    color: black    
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avatar img{
    border-radius: 50%;
    max-width: 40%;
    height: auto;
}


.content {
    position: absolute;
    top: 25%;
    left: 8%;
    width: 80vw;
    height: 50vh;
    margin: 2rem;
    border-radius: 2rem;
    background: linear-gradient(to left bottom, rgba(238, 238, 238, 0.583), rgb(204, 204, 203, 0.8));

    display: grid;
    gap: 1rem;

    grid-template-columns: auto;

}

.header-card {
    grid-column: span 2 / auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.image img{
    margin: 10px;
    max-width: 40%;
    height: auto;
}


div.content {
    margin-left: 0;
}
/* Navigation bar */

.sidebar {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    background: linear-gradient(to left bottom, rgba(238, 238, 238, 0.583), rgb(204, 204, 203, 0.8));
    padding-right: 30px;
    animation: all 4s linear;
    display: none;
}

.sidebarbutton {
    position: absolute;
    /* display: none; */
    top: 16px;
    left: 1%;
    /* transform: translateX(-50%); */
    animation: all 4s linear;
}
.sidebarbutton2 {
    position: absolute;
    top: 16px;
    right: 0%;
    transform: translateX(-50%);
}
.sidebarbutton img {
    height: 25px;
    padding-bottom: 1rem;
}
#sidebarbtn, #sidebarbtn2 {
    height: auto;
    background: none;
}

.sidebar img {
    height: 20px;
    padding: 0%;
    margin: 0%;
}
.sidebar .navbar-item {
    font-size: 18px;
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
}
.sidebar a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.sidebar .navbar-list{
    padding-top: 1rem;
    list-style-type: none;
    margin-left: 1rem;
}

/* Active/current link */
.sidebar a.active {
    background-color: rgb(0, 102, 180, 0.5);
}
  
  /* Links on mouse-over */
.sidebar a:hover:not(.active) {
    text-decoration: underline;
} 


/* Footer */
.footer-box {
    position: absolute;
    bottom: 0%;
    left: 40%;
    width: auto;
    height: auto;
    /* background: linear-gradient(to left bottom, rgba(0,150,255), rgba(0,200,240)); */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.footer img{
    /* padding: 1rem; */
    margin: 10px;
    max-width: 25%;
    height: auto;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1vh;
    background: linear-gradient(to left top, rgba(0,150,255), rgba(0,200,240));
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(47, 0, 255, 0.3);
  }
   
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right top, rgb(32, 97, 194), rgba(47, 54, 255, 0.803));
    outline: 1px solid rgb(4, 0, 255);
}
