* {
    margin: 0%;
    padding: 0%;
    border: 0px;
}

main {
    height: 100vh;
    position: relative;
    width: auto;
    background: linear-gradient(to left bottom, rgba(0,150,255), rgba(0,200,240));
}

header-box {
    display: flex;
    height: auto;
    
    padding: 1rem;

    align-items: center;
    justify-content: space-evenly;
}

.header {
    width: minmax(80px ,1fr);
    border-radius: 2rem;
    background: linear-gradient(to left bottom, rgba(238, 238, 238, 0.583), rgb(204, 204, 203, 0.8));
    padding: 1rem;
    margin: 10px;
}

.header h1{
    color: black    
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avatar img{
    border-radius: 50%;
    max-width: 40%;
    height: auto;
}


.content {
    position: absolute;
    top: 25%;
    left: 8%;
    width: 80vw;
    height: 50vh;
    margin: 2rem;
    border-radius: 2rem;
    background: linear-gradient(to left bottom, rgba(238, 238, 238, 0.583), rgb(204, 204, 203, 0.8));

    display: grid;
    gap: 1rem;

    grid-template-columns: auto;

}

.header-card {
    grid-column: span 2 / auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.image img{
    margin: 10px;
    max-width: 40%;
    height: auto;
}

/* Navigation bar */

.navbar {
    height: auto;
    width: auto;
    overflow: auto;
    position: fixed;
    left: 0%;
    border-radius: 2rem;
    transition: all 1s;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(50px, 80px));

    /* background: linear-gradient(to right top, rgba(83, 146, 146, 0.3), rgba(80, 165, 164, 0.5)); */
}

div.content {
    margin-left: 0;
}

.navbar-list {
    list-style-type: none;
    margin-left: 1rem;
}


.navbar-item {
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
}

.link a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
  
  /* Active/current link */
.link a.active {
    background-color: rgb(0, 102, 180, 0.5);
}
  
  /* Links on mouse-over */
.navbar a:hover:not(.active) {
    text-decoration: underline;
}
  
.footer-box {
    align-self: flex-end;
    position: absolute;
    bottom: 0%;
    left: 40%;
    width: auto;
    height: auto;
    /* background: l
    inear-gradient(to left bottom, rgba(0,150,255), rgba(0,200,240)); */
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.footer img{
    /* padding: 1rem; */
    margin: 10px;
    max-width: 25%;
    height: auto;
}

::-webkit-scrollbar {
    width: 1vh;
    background: linear-gradient(to left top, rgba(0,150,255), rgba(0,200,240));
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(47, 0, 255, 0.3);
  }
   
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right top, rgb(32, 97, 194), rgba(47, 54, 255, 0.803));
    outline: 1px solid rgb(4, 0, 255);
}
