:root {
  --bg-color: #000;
  --heading-color: #39c;
  --text-color: rgb(29, 123, 170);
  --jp-content-font-color1: rgba(255, 255, 255, 1);
  --jp-layout-color2: #424242;
}

* {
  margin: 0;
  padding: 0;
}

[data-theme="dark"] {
  --bg-color: #fff;
  --heading-color: #818cab;
  --jp-content-font-color1: rgb(f, f, f);
  --jp-layout-color2: #e0e0e0;
}

.theme-switch-wrapper {
  position: fixed;
  top: 2%;
  right: 4%;
}

.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: rgb(32, 158, 226);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 12px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 12px;
}

input:checked + .slider {
  background-color: rgb(14, 36, 49);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
